In [2]:
import sys
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.express as px
import warnings 
#import cufflinks as cf
#import altair as alt
#alt.data_transformers.disable_max_rows()
#from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
#init_notebook_mode(connected=True)
#cf.go_offline()
warnings.simplefilter('ignore')
pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.set_option('display.max_columns', None)

In [3]:
%config Completer.use_jedi = False

In [4]:
data=pd.read_excel("Sample_NPS_Data.xlsx")

In [5]:
data.head(3)

,Claim Number,Claim Creation Date,Policy Number,Peril Type,Loss Location,Property Age,Floor Damage Indicator,Ceiling Damage Indicator,Wall Damage Indicator,Window Damage Indicator,Door Damage Indicator,Kitchen INDI,Bedroom INDI,Lounge INDI,Garage INDI,Hall INDI,Bathroom INDI,Dining Room INDI,Claim Postcode,Claim Lat,Claim Long,Vendor Name,Vendor Score,Vendor Postcode,Vendor Lat,Vendor Long
0,M2082207,13-8-2019,968676,Loss/Damage,Berkshire,22,1,1,0,0,1,1,1,0,1,0,1,0,GU15 4DU,51.34987,-0.78471,ABC Ltd,10,GU15 4FE,51.33843,-0.77791
1,M1519645,25-2-2016,417767,Escape of Water,Berkshire,24,0,0,0,0,0,0,1,0,1,1,1,1,GU15 4DX,51.34991,-0.78336,PQR Ltd,8,GU15 4FF,51.33905,-0.77616
2,M544064,21-1-2016,993349,Accident,Berkshire,19,0,0,1,1,0,1,0,1,1,1,0,1,GU15 4EA,51.34888,-0.78372,XYZ Ltd,10,GU15 4FG,51.33920,-0.77756

In [6]:
peril_type = list(data['Peril Type'].unique())

In [7]:
new_df = data[['Vendor Name', 'Vendor Score', 'Vendor Postcode', 'Vendor Lat','Vendor Long']]
new_df = new_df.sort_values(by=['Vendor Score'], ascending=False).reset_index(drop=True)
new_df.drop_duplicates(subset="Vendor Name", inplace=True)
final_df=new_df.sample(5)
final_df = final_df.reset_index(drop=True)

In [8]:
final_df

  Vendor Name  Vendor Score Vendor Postcode  Vendor Lat  Vendor Long
0     ABC Ltd            10        GU15 4FE    51.33843     -0.77791
1     TMV Ltd            10         BS1 1BA    51.45177     -2.59430
2     LNT Ltd             8         BS1 1BD    51.44952     -2.57837
3     CMO Ltd            10         BS1 1BF    51.44952     -2.57837
4     PQR Ltd             9        GU15 4FF    51.33905     -0.77616

In [10]:
plot_df = final_df.copy()

In [13]:
import streamlit as st

In [15]:
import pydeck as pdk

In [16]:
st.pydeck_chart(
    pdk.Deck(
        map_style="mapbox://styles/mapbox/light-v9",
        initial_view_state=pdk.ViewState(
            latitude=plot_df["Vendor Lat"][0],
            longitude=plot_df["Vendor Long"][0],
            zoom=20,
            pitch=50,
        ),
        layers=[
            pdk.Layer(
                "ScatterplotLayer",
                data=plot_df,
                get_position="[Vendor Long, Vendor Lat]",
                get_radius=5,
                pickable=True,
                opacity=0.8,
                stroked=False,
                filled=True,
                wireframe=True,
            ),
            pdk.Layer(
                "HexagonLayer",
                data=data,
                get_position="[Vendor Long, Vendor Lat]",
                radius=2.5,
                elevation_scale=0.1,
                pickable=True,
                extruded=True,
                auto_highlight=True,
                coverage=0.9,
            ),
        ],
        tooltip={
            "html": "<b>adresse:</b> {address}"
            "<br/> <b>mape:</b> {pourc_err}"
            " <br/> <b>count:</b> {flow_value_count} "
            "<br/> <b>prediction:</b> {flow_value_streaming}"
            "<br/> <b>pedestrian ids:</b> {elevationValue}",
            "style": {"color": "white"},
        },
    )
)

2021-07-25 13:12:39.140
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run N:\Anaconda\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [17]:
plot_df["Vendor Lat"][1]

51.451775